*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(./images/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 7%;
    color: white;
}
nav{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav ul{
    flex: 1;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav .btn{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 20px;
}
content{
    margin-top: 12%;
}
.content h1{
    font-size: 88px;
    margin-bottom: 15px;
}
.content h1 span{
    color: #ff960b;
}
.content p{
    line-height: 22px;
    font-size: 14px;
}
.content .btn{
    display: inline-block;
    margin-top: 30px;
    background: #ff960b;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
}

.coin-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: absolute;
  bottom: 50px;
  right: 10%;
}

.coin{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 15px;
    color: #ff960b;
    border: 1px solid white;
    padding: 20px 30px;
    border-radius: 8px;
}
.coin img{
    width: 40px;
    margin-right: 10px;
}
.coin h3{
    color: white;
    margin-bottom: 5px;
}


@media (max-width: 768px) {
  .coin-list {
    flex-direction: column;
    align-items: center;
    right: 0;
    left: 0;
    bottom: 20px;
    position: static;
    margin-top: 30px;
    gap: 20px;
  }

  .coin {
    width: 90%;
    max-width: 300px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background: #fff;
    border-radius: 10px;
    color: #333;
    font-weight: bold;
    align-items: center;
  }

  .coin img {
    margin-right: 10px;
  }

  .coin span {
    font-size: 16px;
  }
}

body{
  overflow-x: hidden;
}